@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	color: #4eff00;
	font-family: "Courier Prime", monospace;
	font-weight: 400;
	font-style: italic;
	font-size: 4vh;
	box-sizing: border-box;
	margin-top: 1.5rem;
	background-color: #232327;
}

#calc-button-container {
	display: flex;
	flex-direction: column;
	width: 90vw;
	max-width: 50rem;
	height: 60vh;
	padding: 1rem;
	gap: 1rem;
	background-color: black;
	border: inset 0.25rem #4eff00;
}

.container-row {
	display: flex;
	flex-basis: 100%;
	gap: 1rem;
}

#calc-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

button {
	flex-basis: 100%;
	background-color: #232327;
	color: #4eff00;
	font-size: 4vh;
}

#calc-display {
	width: 90vw;
	max-width: 50rem;
	border: inset 0.25rem #4eff00;
	background-color: black;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}